@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
  font-family: system-ui;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia1.tenor.com%2Fm%2FBGHPfbtyLGkAAAAC%2Fcat-lovers-gif-cat-gif.gif&f=1&nofb=1&ipt=822a64e883f69d7f93604a9ea72eac02e2352e1f329c265c1090ae36231b7cb6");
  color: white;
  text-align: center;
}

h1 {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 72px;
  background: rgba(0, 0, 0, 0.7);
  font-family: impact;
}

p {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 38px;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
}

p1 {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
}

p2 {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 40px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
}

figcaption {
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 24px;
  font-weight: 300;
  background: rgba(0, 0, 0, 1);
  background-size: cover;
}

nav ul {
  background-color: white;
  list-style: none;
  padding: 0;
  magin: 0;
  display: inline-block;
}

nav ul li {
  --angle: 0dg;
  float: left;
  border: 5px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;
  animation: 10s rotate linear infinite;
}

nav ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 1px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: palegreen;
  text-stroke: 1px palegreen;
  -webkit-text-stroke: 1px palegreen;
  background-color: blue;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width:1px;
  height: 1px;
  top: auto;

  &:focus {
    color: $background-color;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}